.notfound-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f0f0f0;
  padding: 0;
  margin: 0;
}

.notfound-container img {
  display: block;
  margin: 0 auto;
}

.notfound-container .btn1 {
  text-align: center;
}

.notfound-container .text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.notfound-container .error-text {
  text-align: center;
  padding: 20px;
  font-family: Cursive;
}

.notfound-container .error {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 15px;
  background: #6200ee;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
}

.notfound-container .error:hover {
  background: #4500a5;
}
